/*******************
 Box Sizing
 *******************/
 html {
    box-sizing: border-box;
    line-height: 1.5;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
  html,
  body {
    height: 100%;
  }
  
  body {
    min-height: 100vh; /* Useful for body to fill the viewport */
    scroll-behavior: smooth;
    text-rendering: optimizeLegibility;
  }
  
  /****************************
   Remove default margin and paddings
   ****************************/
  * {
    margin: 0;
    padding: 0;
  }
  
  /****************************
   Avoid text overflows
   ****************************/
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    overflow-wrap: break-word;
  }
  
  /*******************
   Lists
   *******************/
  ul {
    list-style: none;
  }
  
  /*******************
   Forms and buttons
   *******************/
  input,
  textarea,
  select,
  button {
    color: inherit;
    font: inherit;
    letter-spacing: inherit;
  }
  
  /* I usually expand input and textarea to full-width */
  input[type='text'],
  textarea {
    width: 100%;
  }
  
  /* More friendly border */
  input,
  textarea,
  button {
    border: 1px solid gray;
  }
  
  /* Friendly password dots
   * See https://pqina.nl/blog/styling-password-field-dots/
   */
  input[type='password'] {
    font-family: Verdana;
    letter-spacing: 0.125em;
  }
  
  /* Some defaults for one-liner buttons */
  button {
    padding: 0.75em 1em;
    line-height: inherit;
    border-radius: 0;
    background-color: transparent;
  }
  
  button * {
    pointer-events: none;
  }
  
  /***********************************
   Better defaults for media elements
   ***********************************/
  img,
  picture,
  video,
  iframe,
  canvas,
  object,
  embed,
  svg {
    display: block;
    max-width: 100%;
  }
  
  /*******************
   Useful table styles
   *******************/
  table {
    table-layout: fixed;
    width: 100%;
  }
  
  /*******************
   The hidden attribute
   *******************/
  [hidden] {
    opacity: 0;
    visibility: hidden;
  }
  
  /*******************
   Noscript
   *******************/
  noscript {
    display: block;
    margin-bottom: 1em;
    margin-top: 1em;
  }
  
  /*******************
   Tabindex
   *******************/
  [tabindex='-1'] {
    outline: none !important;
  }
  
  /*******************
   Remove animations and transitions
   @see https://hankchizljaw.com/wrote/a-modern-css-reset/
   *******************/
  @media (prefers-reduced-motion: reduce) {
    * {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
  }
  
  /*******************
   * Hides content visually.
   * So it's only available to screen readers... and bots 🤖
   * Solution by Joe Watkins.
   * @see https://zellwk.com/blog/hide-content-accessibly/
   *******************/
  .sr-only,
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: auto;
    margin: 0;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
    white-space: nowrap;
  }

/* custom CSS variables */

:root {
    --bg-color-yellow: hsl(47deg, 88%, 63%);
    --gray-950: hsl(0deg, 0%, 7%);
    --gray-500: hsl(0deg, 0%, 42%);
    --white: hsl(0deg, 0%, 100%);
}



.figtree-bold {
  font-family: "Figtree", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: 0px;
}

.figtree-bold-light {
  font-family: "Figtree", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0px;
}

.figtree-medium {
    font-family: "Figtree", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0px;
}


.main {
    height: 100vh;
    background-color: var(--bg-color-yellow);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cardContainer {
    height: 522px;
    width: 384px;
    background-color: var(--white);
    border: 1px solid var(--gray-950);
    border-radius: 20px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    box-shadow: 10px 10px 0.4px var(--gray-950);
}

.image {
    border-radius: 10px;
}

.chipInfo {
    background-color: var(--bg-color-yellow);
    color: var(--gray-950);
    height: 26px;
    width: 73px;
    border-radius: 4px;
    text-align: center;
    padding-top: 2.5px;
}

.cardInfo {
    display: flex;
    flex-direction: column;
    gap: 12px;
    
}

.publishDate {
    color: var(--gray-950);
    font-size: 14px;
}


.cardDescription {
    color: var(--gray-500);
}

.userInfoContainer {
    display: flex;
    align-items: center ;
    gap: 12px;
    color: var(--gray-950);
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.header:hover {
    color: var(--bg-color-yellow);
}

@media (min-width: 0px) and (max-width: 780px) {
    .cardContainer {
        height: 469px;
        width: 327px;
    }
    
    .publishDate {
        font-size: 12px;
    }
    .header {
        font-size: 20px;
    }
    .figtree-medium {
        font-size: 14px;
    }
    .figtree-bold {
        font-size: 20px;
    }
}